
        .body-initial {
            background-color: rgba(0, 0, 0, 1);
            width: 50px;
            min-height: 50px;
        }
        
        .silex-id-1474394621033-3 {
            top: 575px;
            left: 5px;
        }
        
        .silex-id-1474394621032-2 {
            min-height: 445px;
            background-color: transparent;
            width: 1200px;
        }
        
        .silex-id-1497621810812-0 {
            width: 507px;
            min-height: 469px;
            top: 14px;
            left: 119px;
        }
        
        .silex-id-1497622120936-1 {
            width: 824px;
            min-height: 95px;
            top: -8px;
            left: 14px;
        }
        
        .silex-id-1497623646266-2 {
            width: 389px;
            min-height: 228px;
            top: 409px;
            left: 528px;
        }
        
        .silex-id-1497623473245-1 {
            width: 392px;
            min-height: 51px;
            top: 662px;
            left: 524px;
        }
        
        .silex-id-1497622575844-5 {
            width: 299px;
            min-height: 302px;
            top: 414px;
            left: 183px;
        }
    